{% extends 'rango/base.html' %}
{%load staticfiles%}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4">
        <div class="container">
            <div>Here is the about page.</div> <br>
                <h3 class="jumbotron-heading">Rango says...</h3>
                <div>hey there partner!</div>
                <div>Visits: {{ visits }}</div>
            <strong>{{ message }}</strong>
        </div>
    </div>

    <div>
        <div>
            <br />
                <button class="btn btn-primary" id="about-btn">
                    Click me - I'm using JQuery!
                </button>
            <br />
        </div>
        <a href="{% url 'rango:index' %}">Back to the main page</a><br />
        <img src="{% static 'images/rango.jpeg' %}"
             alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}sexy_woman.jpeg" alt="Picture of a Hot Baby."/>
    </div>

    <div> This tutorial has been put together by Petro.</div>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />
{% endblock %}
