{% extends 'rango/base.html' %}
{%load staticfiles%}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>

    <div> here is the about page. </div>

    <div>
        hey there partner! <br />
        <strong>{{ message }}</strong><br />
    </div>

    <div>
        <a href="{% url 'rango:index' %}">Back to the main page</a><br />
        <img src="{% static 'images/rango.jpeg' %}"
             alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}sexy_woman.jpeg" alt="Picture of a Hot Baby."/>
    </div>

    <div> This tutorial has been put together by Petro </div>
{% endblock %}
