<!DOCTYPE html>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if page %}
            <ul>
                {% for pag in page %}
                <li><a href="{{ pag.url }}">{{ pag.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
        <br />
    <a href="/rango/">Back to main page</a><br />
    </body>

<html>
