{% extends 'rango/base.html' %}
{%load staticfiles%}

{% block title_block %}
    Training
{% endblock %}

{% block body_block %}
    <div>
        <a href="/rango/about/">About</a><br />
    </div>
    <div class="jumbotron p-4">
        <div class="container">
            <h1>Petro`s imagine page...</h1>

        <div>
            Hello here, my Moska! <br />
            <strong>{{ second_picture_presentation }}</strong><br />
        </div>
        </div>
    </div>


    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        There is Rango! <br />
        <img src="{% static 'images/rango2.jpeg' %}"
             alt="Picture of Rango" />
    </div>

    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        There is the Rango`s hot baby. Let`s called her Babita! <br />

        <img src="{{ MEDIA_URL }}sexy_woman.jpeg" alt="Picture of a Hot Baby."/>
    </div>
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />
{% endblock %}
